@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans TC", Roboto, "Helvetica Neue", Arial, sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  height: auto;
}

.header {
  background: #AA0601;
  color: #fff;
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  display: block;
  background: url("../img/logo-white.png");
  text-indent: 101%;
  background-repeat: no-repeat;
  width: 80px;
  height: 50px;
  background-size: contain;
  white-space: nowrap;
  overflow: hidden;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu li {
  padding: 25px 0 25px 64px;
}

.header-menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

.header-menu li a:hover {
  color: #000000;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 12px;
  }
}

@media (max-width: 992px) {
  .container {
    margin: 0 36px;
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0;
    max-width: 767px;
  }
  .header .header-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    margin: 12px 0;
  }
  .header-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-right: 0;
  }
  .header-menu li {
    text-align: center;
    border: 1px solid #fff;
    padding: 25px 64px;
    width: 50%;
  }
}

@media (max-width: 375px) {
  .container {
    margin: 0 14px;
  }
  .header .header-content {
    display: none;
  }
  .header .header-content-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 375px) {
  .header .header-content-sm {
    display: none;
  }
}

.banner {
  background-image: url("../img/home-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 296px 0;
  text-align: right;
}

@media (max-width: 767px) {
  .banner-content {
    margin: 0 36px;
  }
}

@media (max-width: 767px) {
  .banner {
    background-image: url("../img/home-header-sm.png");
  }
}

@media (max-width: 375px) {
  .banner-content {
    margin: 0;
  }
}

h1 {
  font-size: 64px;
  color: #650300;
  line-height: 1.5;
  font-weight: 700;
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

h3 {
  font-size: 36px;
  color: #650300;
  line-height: 1;
  font-weight: 400;
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  h3 {
    font-size: 16px;
  }
}

.btn {
  margin-top: 4px;
  padding: 6px 12px;
  text-decoration: none;
  color: #fff;
  background: #AA0601;
  font-size: 20px;
}

.btn:hover {
  background: #000000;
}

.footer {
  background: #AA0601;
  padding-top: 48px;
  padding-bottom: 32px;
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.footer .footer-content .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer .footer-content .footer-menu li {
  margin: 12px 48px 12px 0;
}

.footer .footer-content .footer-menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.footer .footer-content .footer-menu li a:hover {
  color: #000000;
}

.footer .footer-content .footer-contact li {
  margin-top: 8px;
}

.footer .footer-content .footer-contact li a {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  line-height: 1;
  margin-left: 20px;
}

.footer .footer-content .footer-contact li a:hover {
  color: #000000;
}

.footer .footer-content .footer-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-content .footer-rightside li {
  margin-left: 32px;
}

.footer .footer-content .footer-rightside li img {
  width: 48px;
  height: 48px;
}

.footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-size: 16px;
}

.footer .footer-bottom .footer-lawlink a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  margin-left: 48px;
}

.footer .footer-bottom .footer-lawlink a:hover {
  color: #000000;
}

@media (max-width: 992px) {
  .footer .footer-content .footer-rightside li {
    margin-left: 16px;
  }
  .footer .footer-content .footer-rightside li img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 48px 36px 32px 36px;
  }
  .footer .footer-content {
    margin: 0 12px 32px 12px;
  }
  .footer .footer-content .footer-menu li {
    margin: 12px 32px 12px 0;
  }
  .footer .footer-content .footer-rightside li {
    margin: 12px 0 12px 8px;
  }
  .footer .footer-content .footer-rightside li img {
    width: 24px;
    height: 24px;
  }
  .footer .footer-content .footer-contact li a {
    font-size: 32px;
  }
  .footer .footer-bottom {
    margin: 0 12px 0 12px;
  }
  .footer .footer-bottom .footer-lawlink a {
    margin-left: 32px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 24px 14px;
  }
  .footer .footer-content {
    display: none;
  }
  .footer .footer-mobile-sm {
    margin: 0;
  }
  .footer .footer-mobile-sm .footer-mobile-sm-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 16px;
  }
  .footer .footer-mobile-sm .footer-mobile-sm-top .footer-contact li {
    margin-bottom: 8px;
  }
  .footer .footer-mobile-sm .footer-mobile-sm-top .footer-contact li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  .footer .footer-mobile-sm .footer-mobile-sm-top .footer-contact li a:hover {
    color: #000000;
  }
  .footer .footer-mobile-sm .footer-mobile-sm-top .footer-contact li img {
    width: 20px;
    height: 18px;
  }
  .footer .footer-mobile-sm .footer-mobile-sm-top .footer-rightside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: #AA0601;
    line-height: 1.5;
  }
  .footer .footer-mobile-sm .footer-mobile-sm-top .footer-rightside li {
    margin-left: 8px;
  }
  .footer .footer-mobile-sm .footer-mobile-sm-top .footer-rightside li img {
    width: 24px;
    height: 24px;
  }
  .footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: #AA0601;
    line-height: 1.5;
    margin: 0;
  }
  .footer .footer-bottom P {
    margin-bottom: 8px;
  }
  .footer .footer-bottom .footer-lawlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-bottom .footer-lawlink a {
    margin-bottom: 8px;
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .footer .footer-mobile-sm {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */