$primary:#AA0601;
$secondary:#000000;
$success:#FBF2F2;
$danger:#650300;

$fz-primary:16px;
$lh-primary:1;

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Noto Sans TC", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

*,*::before,*::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.container{
    max-width: 1296px;
    margin: 0 auto;
    height: auto;
}
.header{
    background: $primary;
    color: #fff;
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo a{
    display: block;
    background: url('../img/logo-white.png');
    text-indent: 101%;
    background-repeat: no-repeat;
    width: 80px;
    height: 50px;
    background-size:contain;
    white-space: nowrap;
    overflow: hidden;
}

.header-menu{
    display: flex;
    li{
        padding: 25px 0 25px 64px;
        a{
            display: block;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            line-height: 1.5;
            &:hover{
                color: $secondary;
            }
        }
    }
}
 @media(max-width:1200px){
    .container{
        margin: 0 12px;
    }
}
@media(max-width:992px){
    .container{
        margin: 0 36px;
    }
}
@media(max-width:767px){
    .container{
        margin: 0 ;
        max-width: 767px;
    }
    .header{
        .header-content{
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
        }
    }
    .logo {
        margin: 12px 0;
    }
    .header-menu{
        flex-wrap: wrap;
        border-right: 0;
        li{
            text-align: center;
            border: 1px solid #fff;
            padding: 25px 64px;
            width: 50%;
        }
    }
}
@media(max-width:375px){
    .container{
        margin: 0 14px;
    }
    .header{
        .header-content{
            display: none;
        }
        .header-content-sm{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
@media(min-width:375px){
    .header{
        .header-content-sm{
            display: none;
        }
    }
}
.banner{
    background-image: url('../img/home-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 296px 0;
    text-align: right;
}
@media(max-width:767px){
    .banner-content{
        margin: 0 36px;
    }
}
@media(max-width:767px){
    .banner{
        background-image: url('../img/home-header-sm.png');
    }
}
@media(max-width:375px){
    .banner-content{
        margin: 0;
    }
}
h1{
    font-size: $fz-primary*4;
    color: $danger;
    line-height: $lh-primary*1.5;
    font-weight: 700;
}
@media(max-width:576px){
    h1{
        font-size: $fz-primary*2;
        margin-bottom: 8px;
    }
}
@media(max-width:375px){
    h1{
        font-size: $fz-primary*1.5;
        margin-bottom: 8px;
    }
}
h3{
    font-size: $fz-primary*2.25;
    color: $danger;
    line-height: $lh-primary;
    font-weight: 400;
}
@media(max-width:576px){
    h3{
        font-size: $fz-primary*1.5;
    }
}
@media(max-width:375px){
    h3{
        font-size: $fz-primary;
    }
}
.btn{
    margin-top: 4px;
    padding: 6px 12px;
    text-decoration: none;
    color: #fff;
    background: $primary;
    font-size: $fz-primary*1.25;
    &:hover{
        background: $secondary;
    }
}
.footer{
    background: $primary;
    padding-top: 48px;
    padding-bottom: 32px;
    .footer-content{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding-bottom: 32px;
        margin-bottom: 32px;
        .footer-menu{
            display: flex;
            margin-bottom: 24px;
            li{
                margin: 12px 48px 12px 0;
                a{
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    font-size:$fz-primary;
                    line-height: $lh-primary*1.5;
                    font-weight: 400;
                    &:hover{
                        color: $secondary;
                    }
                }
            }
        }
        .footer-contact{
            li{
                margin-top: 8px;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size:$fz-primary*2.25;
                    line-height: $lh-primary;
                    margin-left: 20px;
                    &:hover{
                        color: $secondary;
                    }
                }
            }            
        }
        .footer-rightside{
            display: flex;
            li{
                margin-left: 32px;
                img{
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-size:$fz-primary;
        .footer-lawlink a{
            text-decoration: none;
            color: #fff;
            font-size:$fz-primary*0.875;
            line-height: $lh-primary;
            margin-left: 48px;
            &:hover{
                color: $secondary;
            }
        }
    }
}

@media(max-width:992px){
    .footer{
        .footer-content{
            .footer-rightside{
                li{
                    margin-left: 16px;

                    img{
                        width: 40px;
                        height: 40px;
                    }
                }

            }
        }
    }
}
@media(max-width:767px){
    .footer{
        padding: 48px 36px 32px 36px;
        .footer-content{
            margin: 0 12px 32px 12px;
            .footer-menu{
                li{
                    margin: 12px 32px 12px 0;
                }
            }
            .footer-rightside{
                li{
                    margin: 12px 0 12px 8px;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }

            }
            .footer-contact{
                li{
                    a{
                     font-size:32px;
                    }
                }
            }
        }

        .footer-bottom{
            margin: 0 12px 0 12px;
            .footer-lawlink a{
                margin-left: 32px;
            }
        }
    }
}
@media(max-width:576px){
    .footer{    
        padding: 24px 14px;
        .footer-content{
            display: none;
        }
        .footer-mobile-sm{
            margin: 0;
            .footer-mobile-sm-top{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #fff;
                padding-bottom: 16px;
                .footer-contact{
                    li{
                        margin-bottom: 8px;
                        a{
                            text-decoration: none;
                            color: #fff;
                            font-size:$fz-primary;
                            line-height: $lh-primary*1.5;
                            &:hover{
                                color: $secondary;
                            }
                        }
                        img{
                            width: 20px;
                            height: 18px;
                        }
                    }            
                }
            
        
                .footer-rightside{
                    display: flex;
                    font-size: $primary;
                    line-height: $lh-primary*1.5;
                    li{
                        margin-left: 8px;
                        img{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
        .footer-bottom{
            display: flex;
            flex-direction: column;
            font-size: $primary;
            line-height: $lh-primary*1.5;
            margin: 0;
            P{
                margin-bottom: 8px;
            }
            .footer-lawlink {
                display: flex;
                flex-direction: column;
                a{
                    margin-bottom: 8px;
                    margin-left: 0;
                }
            }

        }
    }
}
@media(min-width:576px){
    .footer{
        .footer-mobile-sm{
            display: none;
        }
    }
}