$primary:#AA0601;
$secondary:#000000;
$success:#FBF2F2;

*,*::before,*::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.header{
    background: $primary;
    color: #fff;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
    height: auto;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    display: block;
}
.logo img{
    width: 17.8%;
}
.header-menu{
    display: flex;
}
.header-menu li{
    padding: 25px 32px;
}
.header-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
}
.header-menu li a:hover{
    color: #000000;
}